<% bip_pool.bipmembers.each do |m| %>
	<div class="modal hide fade" id="modal-window-<%= bip_pool.name + "-" + m.bipnode.name %>">
		<div class="modal-header">
			<h3><%= m.bipnode.name %></h3>
		</div>
		<div class="modal-body">
		</div>
	</div>
	<%= link_to m.bipnode.name, bip_config_bipnode_path(@bip_config.id, m.bipnode.id), 
				{:remote => true, 'data-controls-modal' =>  "modal-window-" + bip_pool.name + '-' + m.bipnode.name, 'data-backdrop' => true, 'data-keyboard' => true} %>:<%= m.port %><br />
<% end %>