<p id="notice"><%= notice %></p>

<p>
  <b>Bip_Config:</b>
  <%= @bip_config.name %>
</p>

<p>
  <b>BipPool:</b>
  <%= @bippool.name %>
</p>

<p>
  <b>Nodes:</b>
  <%= @bipnodes.each { |n| n.name } %>
</p>
