#headernav {
	background-size: 100%;
	background: #151B8D;
	height: 90px;
	width: 1000px;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 12px;
	margin-bottom: 12px;
	line-height: 52px;
}

#headernav {
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	/* Border-radius not implemented yet */
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#topheader h1 {
	padding: 0px 0;
	margin-left: 28px;
	float: left;
	margin-right: 0px;
	width: 100%;
	line-height: 36px;
	text-align: left;
	color: #fff;
}

#topheader h3 {
	padding: 0px 0;
	margin-top: 6px;
	margin-left: 28px;
	float: left;
	display: block;
	margin-right: 0px;
	width: 100%;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

nav {
  margin-top: 28px;
  margin-right: 6px;
}

nav ul {
	margin: 0 auto;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 0px;
	width: 100px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover {
	color: #000000;
	background: #B7CEEC;
	border-radius: 22px;
}

nav ul li.selected a {
	color: #fff;
	background: #000000;
	border-radius: 22px;
}