/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
	width: 1000px;
}

h1 {
	font-size: 36px;
	line-height: 66px;
	padding: 22px 0;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

a {
	font: 13px/22px Helvetica, Arial, sans-serif;
	color: #000000;
}

p {
	padding-bottom: 22px;
}

th {
  background-color: #151B8D;
  color: #fff;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
}

td {
  padding: 5px 5px 5px 5px;
}

tr:nth-child(2n+1) {
  background-color: #B7CEEC;
}

tr:nth-child(2n) {
  background-color: #82CAFF;
}

.migrated-image img {
  vertical-align: middle;
  max-height:30px;
  max-width: 30px;
}

.bip_object_migrated a {
  font-size: 8px;
  text-decoration: none;
}

.bip_migration_status a {
  text-decoration: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
