<h3>Bipprofiles</h3>

<table>
	<tr>
		<th>Migrated</th>
		<th>Name</th>
		<th>Type</th>
		<th>Content</th>
	</tr>
	<% @bipprofiles.each do |bip_profile| %>
		<tr>
			<td><%= render :partial => "migrated", :locals => { :bip_profile => bip_profile } %></td>
			<td><%= bip_profile.name %></td>
			<td><%= bip_profile.type %></td>
			<td><%= render :partial => "content", :locals => { :bip_profile => bip_profile } %></td>
		</tr>
	<% end %>
</table>
