<h3>Bipprofiles</h3>

<table class="zebra-striped">
	<thead>
		<tr>
			<th>Migrated</th>
			<th>Name</th>
			<th>Type</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
		<% @bipprofiles.each do |bip_profile| %>
			<tr>
				<td><%= render :partial => "migrated", :locals => { :bip_profile => bip_profile } %></td>
				<td><%= bip_profile.name %></td>
				<td><%= bip_profile.ptype %></td>
				<td><pre><%= bip_profile.content %></pre></td>
			</tr>
		<% end %>
	</tbody>
</table>
