<table>
	<thead>
		<tr>
			<th>Migrated</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div class="migrated-image">
					<% if @biprule.migrated %>
						<%= image_tag "green-check.png", :width => 50, :height => 50 %>
					<% else %>
						<%= image_tag "red-x.png", :width => 50, :height => 50  %>
					<% end %>
				</div>
			</td>
		</tr>
	</tbody>
</table>
