<% bip_virtual.bippools.each do |p| %>
	<div class="modal hide fade" id="modal-window-<%= bip_virtual.name + "-" + p.name %>">
		<div class="modal-header">
			<h3><%= p.name %></h3>
		</div>
		<div class="modal-body">
		</div>
	</div>
	<%= link_to p.name, bip_config_bippool_path(@bip_config.id, p.id), 
				{:remote => true, 'data-controls-modal' =>  "modal-window-" + bip_virtual.name + '-' + p.name, 'data-backdrop' => true, 'data-keyboard' => true} %>
<% end %>