<div class="modal">
<table>
	<tr>
		<th>Monitor Name</th>
		<th>Content</th>
		<th>Migrated</th>
	</tr>
	<tr>
		<td><%= @bipmonitor.name %></td>
		<td><pre><%= @bipmonitor.content %></pre></td>
		<td>
			<div class="migrated-image">
				<% if @bipmonitor.migrated %>
					<%= image_tag "green-check.png" %>
				<% else %>
					<%= image_tag "red-x.png" %>
				<% end %>
			</div>
		</td>
	</tr>
</table>
</div>