<div class="modal">
<table>
	<tr>
		<th>Monitor Name</th>
		<th>Content</th>
	</tr>
	<tr>
		<td><%= @bipmonitor.name %></td>
		<td><% @bipmon.each do |m| %>
				<%= m %><br />
			<% end %>
		</td>
	</tr>
</table>
</div>